.recent {
    display: none;
}

.user-img {
    border-radius: 50%;
    height: 25px;
}

.profile-img {
    border-radius: 50%;
    height: 50px;
}

.style-none {
    list-style: none;
}

.mail-list {
    margin: 1rem 0;
    cursor: pointer;
}

.tag {
    border-style: dashed;
    text-transform: capitalize;
}

.body {
    float: right;
    width: 80%;
}

.left-side-menu {
    float: left;
    width: 20%;
}

body {
    background:#F0F0F0;
    max-width: 100%;
    max-height: 100%;
}

.left-side-menu li:hover {
    background-color: #555;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

.left-side-menu li, img {
    cursor: pointer;
}

.inbox-mails {
    margin-top: 20px;
}


/*For Mobile Devices*/

@media screen and (max-width: 480px) {
    .left-side-menu {
        display: none;
    }

    header {
        height: 20%;
    }

    .open-side-menu {
        display: block;
    }
}

/*For Devices above Mobile size - Tablets/Desktops*/

@media (min-width: 480px) {
    .open-side-menu {
        display: none;
    }
}